footer {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 1;
  margin-bottom: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .text__footer {
    text-align: center;
    letter-spacing: 0px;
    line-height: 22px;
    font-family: "IBM Plex Mono", monospace, sans-serif;
    font-size: 0.85rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .brands__footer {
    width: 90%;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .brands {
    color: #060a24;
  }
}
